.container {
  display: flex;

  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


body {
  background-color: #393E46;
}

h1 {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 2px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

button {
  align-items: center;
  display: inline-block;
  padding: 15px 25px;
  font-size: 32px;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #232931;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4ECCA3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 25px;
  margin-right: 25px;

}

button:hover {background-color: #256952}

button:active {
  background-color: #256952;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media screen and (max-width: 600px) {
  .dice{
    width: 80%;
  }

  h1 {
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 35px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ecca3;
  }

  .container{
    margin-bottom: 40px;
  }

  .button {
    align-items: center;
    display: inline-block;
    padding: 5px 38px;
    font-size: 28px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    text-shadow: 1.5px 0 #232931;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4ECCA3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3.7px #999;
    margin-left: 10px;
    margin-right: 10px;
}


  
}