.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


body {
  background-color: #393E46;
}

h1 {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 2px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

button {
  align-items: center;
  display: inline-block;
  padding: 15px 25px;
  font-size: 32px;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #232931;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4ECCA3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #256952}

button:active {
  background-color: #256952;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
